.btn {
    width: 100px;
    height: 50px;

    border-radius: 10px;

    text-align: center;

    color: #fff;
    background-color: #3455C6;

    cursor: pointer;

    &:hover {
        color: #3455C6;
        background-color: #fff;

        border: 3px solid #3455C6;
    }
}