@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: local('Roboto'), url(./assets/fonts/Roboto-Regular.woff) format('woff');
}
.theme_dark {
    background-color: #303A3D;
    color: #fff;
}
html {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}
* {
    font-weight: inherit;
}